body {
    font-family: 'Roboto', sans-serif;
    color: white;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-image: url(img/bg-landscape.jpg);
    background-size: cover;
    .main {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        .title {
            font-size: 1.5rem;
            text-align: center;
            height: 60px;
            width: 100%;
            margin: 5px;
        }
        .contentEndGame {
            width: 100%;
            margin: 10px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
            #startGame {
                margin: 0;
                display: flex;
                flex-direction: row;
                width: 100%;
                height: 100%;
                justify-content: center;
                align-items: center;
            }
            #contentWin,
            #contentLoose {
                display: none;
                height: 10vh;
            }
        }
        #content {
            display: none;
            flex-direction: row;
            justify-content: center;
            width: 100%;
            padding: 5px;
            height: 80vh;
            #displayHangman {
                width: 33%;
            }
            #displayPlayers {
                width: 33%;
                padding: 5px;
                #player1 {
                    display: flex;
                    .form {
                        background-color: rgba(0, 0, 0, .7);
                        background: transparent;
                        border: solid white 2px;
                        display: flex;
                        flex-direction: row;
                        justify-content: space-around;
                        align-items: center;
                        width: 80%;
                        height: 50px;
                        label {
                            padding: 20px;
                        }
                        input {
                            color: white;
                            background: transparent;
                            width: 60px;
                            height: 30px;
                            margin: 10px;
                            border: none;
                            border-bottom: 2px solid white;
                        }
                        button {
                            width: 40px;
                            height: 30px;
                            margin: 10px;
                        }
                    }
                }
                #player2 {
                    display: none;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    height: 80%;
                }
                #player2 {
                    justify-content: center;
                    align-items: center;
                    height: 80%;
                    .content_player2 {
                        display: flex;
                        flex-direction: row;
                        .content_right {
                            width: 30%;
                        }
                    }
                    .form {
                        background-color: rgba(0, 0, 0, .7);
                        background: transparent;
                        border: solid white 2px;
                        display: flex;
                        flex-direction: row;
                        justify-content: space-around;
                        align-items: center;
                        width: 80%;
                        height: 50px;
                        label {
                            padding: 20px;
                        }
                        input {
                            color: white;
                            background: transparent;
                            width: 60px;
                            height: 30px;
                            margin: 10px;
                            border: none;
                            border-bottom: 2px solid white;
                        }
                        button {
                            width: 40px;
                            height: 30px;
                            margin: 10px;
                        }
                    }
                }
            }
            .contentAlphabet {
                height: 100%;
                width: 33%;
                display: flex;
                flex-direction: column;
                justify-content: start;
                align-items: center;
                #contentListAlphabet {
                    display: none;
                    flex-wrap: wrap;
                    justify-content: space-between;
                    align-items: center;
                    width: 80%;
                    display: flex;
                    .letter {
                        display: flex;
                        height: 30px;
                        width: 30px;
                        border-radius: 5px;
                        padding: 5px;
                        margin: 10px;
                        text-align: center;
                        justify-content: center;
                        transition: ease .5s;
                        cursor: pointer;
                    }
                    .letter:hover {
                        background-color: darkgrey;
                    }
                    .normal {
                        border: darkblue 2px solid;
                        background-color: blue;
                    }
                    .normal:hover {
                        background-color: darkblue;
                    }
                    .found {
                        border: darkgreen 2px solid;
                        background-color: green;
                    }
                    .found:hover {
                        background-color: darkgreen;
                    }
                    .wrong {
                        border: darkred 2px solid;
                        background-color: red;
                    }
                    .wrong:hover {
                        background-color: darkred;
                    }
                }
            }
        }
        .display_state {
            font-size: 4rem;
            text-align: center;
        }
    }
}